<div class="row">
  <div class="col-md-6">
    <cc-panel>
      <header>
        Judges
      </header>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let judge of cookOff.judges">{{judge.name}}</li>
      </ul>
    </cc-panel>
  </div>
  <div class="col-md-6">
    <cc-panel>
      <header>
        Teams
      </header>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let team of cookOff.teams">{{team.name}}</li>
      </ul>
    </cc-panel>
  </div>
  <div class="col-md-6">
    <cc-panel>
      <header>
        Criteria
      </header>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let criteria of cookOff.criteria">{{criteria.name}}</li>
      </ul>
    </cc-panel>
  </div>
</div>
<div class="row" [ngStyle]="{'padding-bottom': '40px'}">
  <div class="col-md-12">
    <button *ngIf="!cookOff.complete && cookOff.inProgress" class="btn btn-primary" [routerLink]="['/judging']">Judge</button>
    <button *ngIf="cookOff.complete" class="btn btn-primary">Results</button>
    <button *ngIf="!cookOff.inProgress" (click)="onBegin()" class="btn btn-success" [disabled]="cookOff.judges.length < 1 || cookOff.teams.length < 2 || cookOff.criteria < 1">Begin</button>
    <a *ngIf="!cookOff.inProgress" [routerLink]="['edit']" class="btn btn-primary">Edit</a>
    <button (click)="onReset()" class="btn btn-danger pull-right">Reset</button>
  </div>
</div>


