<form [formGroup]="scoreCardForm" *ngIf="!scoreCard.complete" (submit)="onSubmit()">
  <div class="row" *ngFor="let criteria of scoreCard.criteria">
    <div class="col-md-12">
      <div class="input-group"
         [ngClass]="{
         'has-error': !scoreCardForm.controls[criteria.name].valid && scoreCardForm.controls[criteria.name].dirty,
         'has-success': scoreCardForm.controls[criteria.name].valid && scoreCardForm.controls[criteria.name].dirty
         }">
        <span class="input-group-addon" id="basic-addon2">{{criteria.name}}</span>
        <input formControlName="{{criteria.name}}" type="number" class="form-control text-right" placeholder="1-10">
      </div>
      <div
        class="text-right"
        *ngIf="!scoreCardForm.controls[criteria.name].valid && scoreCardForm.controls[criteria.name].dirty"
        [ngStyle]="{color: '#b94a48'}"
      >
        Number must be between 1-10
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary pull-right"
    [disabled]="!scoreCardForm.valid"
    [ngStyle]="{'margin-top': '20px'}"
  >
    Submit
  </button>
</form>
<div *ngIf="scoreCard.complete">
  <p>Scores submitted</p>
</div>
